      body {
        background: #c94b4b;
        color: #fff;
        font-family: sans-serif;
        font-size: 3em;
        text-align: center;
      }
      canvas {
        border: solid .2em #0bfe0b;
        height: 85vh;
        margin-top: 30px;
      }

      .instructions {
        float: left;
        margin-top: 25vh;
        margin-left: 10vw;
      }

      h1 {
          font-size: 1.4em;
      }

      .container {
          float: right;
          margin-right: 20vw;
      }
